*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
body{
    background-image: url(../images/forest.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: none;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: green;
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}
.hero {
  /*   background-image: url(https://source.unsplash.com/2600x1200?city); */
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
  /*   background-color: #eee; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
.hero-inner {
  
    /*   text-align: center; */
      padding: 0 1.5rem;
    }
    
    .hero-headline {
      margin: 0;
      color: #fff;
      font-weight: 900;
      text-align: center;
    }
    
    h2 {
      margin: 0;
      color: #fff;
      font-weight: 400;
      font-size: 1.2rem;
      text-align: center;
    }

    h3 {
        margin: 0;
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
      }

    h4 {
        margin: 0;
        color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
      }

      h5 {
        margin: 0;
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 1rem;
        line-height: 30px;
        text-align: left;
      }
    h6 {
        margin: 0;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 1.8rem;
        text-align: left;
      }
      
      h7 {
        margin: 0;
        color: rgb(0, 0, 0);
        font-weight: 300;
        font-size: 0.5rem;
        text-align: left;
      }
    .wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0,0.6);
        max-width: 550px;
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
    }
    
    .wrapper .input {
        width: 85%;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .searchbtn {
        background: #183127;
        width: 10%;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }
    
    .searchbtn .fas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
    .advanced-filters{
        margin: 0px;
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        align-items: center;
        padding-left: 0rem;
    }

    .K2-grid {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 80px;
        padding-right: 80px;
        text-align: left;
        background-color: #FFFFFF;
    }
    
    .K2-grid ul {
        clear: both;
        margin: 15px 0 20px;
        padding: 0;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .coll-3 ul li {
        width: 30%;
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .K2-grid li {
        font-size: 0.9em;
        font-weight: 300;
        line-height: 1.3em;
        text-align: left;
        background: #ffffff;
        border-radius: 25px;
        margin: 20px 0px;
        box-sizing: border-box;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        padding: 20px 0 20px;
        display: flex;
        align-items: left;
        justify-content: center;
    }
    
    .K2-grid li a {
        display: block;
        text-decoration: none;
        color: #333;
    }
    
    .K2-grid li img {
        margin: 15px 0;
        margin-top: 0;
        width: 70px;
        height: 70px;
        fill: #26ae61;
        display: inline-block;
    }
    
    .K2-grid li span {
        display: block;
        padding: 0 3px;
    }

    @media screen and (max-width: 800px) {
        .K2-grid li {
        flex: 100%;
        max-width: 100%;
        }
      }
      
      @media screen and (max-width: 600px) {
        .K2-grid li {
          flex: 100%;
          max-width: 100%;
        }
      }


/* Employers CSS */

.main {
    background-color: #fff;
    padding: 10rem 0;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main__content {
    color: #2E2E2E;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 2rem;
    font-weight: 700;
    background-color: #2E2E2E;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: none;
    margin-bottom: 32px;

  }
  
  .main__content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .main__img--container {
    text-align: center;
  }
  
  .main__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  
  #card-2 {
    background-image: url(../images/Glasses.png);
  }
  
  /* Mobile Responsive */
  @media screen and (max-width: 1100px) {
    .main__container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 90%;
    }
  
    .main__img--container {
      display: flex;
      justify-content: center;
    }
  
    .main__img--card {
      height: 425px;
      width: 425px;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content h2 {
      font-size: 3rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main__img--card {
      width: 250px;
      height: 250px;
    }
  
    .fa-users,
    .fa-layer-group {
      font-size: 4rem;
    }
  
    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
    .main__content h2 {
      font-size: 2rem;
    }
  
    .main__content p {
      margin-top: 2rem;
    }
  
    .main__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }
  



/* About Us CSS */

* {
    box-sizing: border-box;
      }
      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 50%;
        padding: 0px;
      }
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .clmtxt {
        padding: 80px;
      }
      
      .learn {
        background-color: #FFFF;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .learn {
        background-color: white;
        color: black;
        border: 2px solid #000000;
      }
      .learn:hover {
        background-color: #000000;
        color: white;
      }
      
      /* Responsive layout - makes a 1 column-layout instead of 2 columns */
@media screen and (max-width: 800px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
  }
  /* Responsive layout - makes the 2 column stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


/* Blog CSS */

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carouselbg{
    background-color: #FFFF;
    padding: 50px;
  }

  .btn-primary {
    background-color: #FFFF;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-primary {
    background-color: white;
    color: #183127;
    border: 2px solid #183127;
  }
  .btn-primary:hover {
    background-color: #183127;
    color: white;
    border: #183127;
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }


/* Footer CSS */
.footer__container {
    background-color: #1B4002;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
  }
  
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }

